@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand/Quicksand-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand/Quicksand-Light.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand/Quicksand-Medium.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand/Quicksand-SemiBold.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Light.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-LightItalic.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito", monospace;
  src: url("../../assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Nunito", monospace;
  src: url("../../assets/fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito", monospace;
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito", monospace;
  src: url("../../assets/fonts/Nunito/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Nunito", monospace;
  src: url("../../assets/fonts/Nunito/Nunito-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html {
  background: #d8ebf2;
  font-family: Nunito, "Nunito", -apple-system, BlinkMacSystemFont, "Noto Sans",
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body {
  background: #d8ebf2;
  font-family: Nunito, "Nunito", -apple-system, BlinkMacSystemFont, "Noto Sans",
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

ul {
  padding-left: 0px;
}

.layout {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0px;
  margin: 0px;
  background: #d8ebf2;
  box-sizing: border-box;
}

.sidebar {
  box-sizing: border-box;
  background: #0588a6;
  color: white;
  left: 0px;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 1080px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header {
  padding: 0px;
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

@media (min-width: 1080px) {
  .header {
    margin: 2em 2em 2em 2em;
    text-align: right;
    align-items: flex-end;
    border-radius: 8px;
    min-height: 33%;
  }
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #153259;
  //box-shadow: inset 0 0 60px 10px rgba(255, 255, 255, 0.5);
  margin: -40px;
  border-radius: 8px;
}

@media (min-width: 1080px) {
  .header::before {
    box-shadow: none;
  }
}

.content {
  padding: 1em;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1080px) {
  .content {
    padding-left: 2em;
    padding-right: 2em;
    width: 67%;
    margin-left: 33%;
    vertical-align: top;
  }
}

.author {
  color: white;
  transition: all ease 250ms;
  max-height: min-content;
  display: inline;
}

.author:hover {
  text-shadow: 0px 0px 10px #d8ebf2;
  transition: all ease 250ms;
}

.blog-link {
  font-size: 3em;
  display: inline;
  color: white !important;
  max-width: max-content;
  max-height: min-content;
  transition: all ease 250ms;
  padding: 0px;
  margin: 0px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: -8px;
  margin-top: 8px;
  transform: perspective(1px) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.blog-link:hover {
  transition: all ease 250ms;
  text-shadow: 0px 0px 8px #d8ebf2;
  transform: scale(1.025);
}

.subtitle {
  display: flex;
  margin: 0px;
  font-size: 1.5em;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  max-height: min-content;
  line-height: 1em;
  padding: 0px;
  column-gap: 8px;
  p {
    width: max-content;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
  }
  a {
    padding: 0px;
  }
}

li {
  margin: 0px;
}

.nav {
  margin-bottom: 16px;
  .nav-button {
    font-family: Quicksand, "Quicksand", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    row-gap: 16px;
    column-gap: 16px;
  }
}

@media (min-width: 1080px) {
  .nav {
    margin-bottom: 28px;
    ul {
      justify-content: flex-end;
    }
  }
}

.nav-button {
  display: block;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  user-select: none;
  cursor: pointer;
  padding: 0.33em 1em 0.33em 1em;
  letter-spacing: 0.1em;
  white-space: nowrap;
  position: relative;
  transition: all ease 250ms;
  border-radius: 4px;
  will-change: transform;
  transform: perspective(1px) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav-button:hover {
  border: 2px solid white !important;
  text-decoration: none;
  transition: all ease 250ms !important;
  box-shadow: 0 0 10px 2px #d8ebf2;
  color: white;
  text-shadow: 0px 0px 10px #d8ebf2;
  transform: scale(1.02);
}

.tags {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 1em;
}

.author {
  transition: all ease 250ms;
  transform: perspective(1px) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.author:hover {
  color: white !important;
  transition: all ease 250ms;
  transform: scale(1.02);
}

a,
a :visited :active {
  color: #0588a6;
  text-decoration: none;
  transition: all ease 250ms;
}

a:hover {
  transition: all ease 250ms !important;
  color: #00afd7;
}

.page-header {
  border-bottom: 1px solid #444;
  color: #444;
  font-size: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0.25em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-family: "Quicksand", Quicksand, sans-serif;
  font-weight: 600;
}

@media (min-width: 1080px) {
  .page-header {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1080px) {
  .title-container {
    display: flex;
    flex-direction: row;
  }
}

.post-title {
  color: #444;
  word-wrap: normal;
  word-break: keep-all;
  hyphens: none;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0px;
  margin-right: 0.5em;
  width: fit-content;
  transition: all ease 250ms;
}

.post-title:hover {
  color: #00afd7;
  transition: all ease 250ms;
}

.post {
  max-width: 800px;
  background: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  padding-top: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  transition: all ease 250ms;
  border-radius: 8px;
  will-change: transform;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  transform: perspective(1px) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.post:hover {
  transition: all ease 250ms;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  transform: scale(1.01);
}

.post-info {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.post-metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.posts-container {
  display: block;
}

.author-image {
  max-width: 48px;
  max-height: 48px;
  border-radius: 48px;
  vertical-align: middle;
}

.author-image-div {
  display: block;
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
}

.post-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.post-image {
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
}

.post-preview {
  min-height: fit-content;
  height: 5em;
  overflow: hidden;
  margin-top: -5em;
}

.read-more-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5em;
  margin: 0px;
  text-align: center;
  align-content: flex-end;
  background: linear-gradient(to bottom, rgba(241, 241, 241, 0), white);
}

.read-more {
  transition: all ease 250ms;
  margin-top: 5em;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
  color: #0588a6;
  overflow: hidden;
}

.read-more:hover {
  color: #00afd7;
  transition: all ease 250ms;
}

.title-container-nested {
  height: fit-content;
}

.tag-container,
.blog-post-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
  column-gap: 8px;
  min-width: min-content;
}

@media (min-width: 1080px) {
  .tag-container,
  .blog-post-tags-container {
    justify-content: flex-end;
    align-items: center;
  }
}

.tag-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all ease 250ms;
  background: #0588a6;
  margin: 0px;
  padding: 0.333em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  max-width: fit-content;
  border-radius: 4px;
  height: fit-content;
  column-gap: 8px;
  will-change: transform;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  transform: perspective(1px) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  &:hover {
    transition: all ease 250ms;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
      1px 6px 10px rgba(39, 44, 49, 0.12);
    transform: scale(1.03);
    color: white;
    background: #00afd7;
  }
  svg {
    width: 1.75em;
    height: 1.75em;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
}

.author-link {
  vertical-align: baseline;
  margin-top: auto;
  margin-bottom: 1.333em;
  color: #0588a6;
}

.date {
  margin-top: 1em;
}

@media (min-width: 1080px) {
  .date {
    margin-top: 0px;
  }
}

.date-string {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  text-align: center;
}

.title {
  text-align: center;
}

.gatsby-highlight-code-line {
  background-color: #ddeeff;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid rgb(175, 220, 255);
}
.gatsby-highlight {
  background-color: #d8ebf2;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 1.4em !important;
}

.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.gatsby-highlight code {
  padding-left: 1em !important;
}

.tags-list {
  list-style: none;
  max-width: fit-content;
  margin-bottom: 24px;
  padding: 0px;
  transition: all ease 250ms;
}

.blog-post-content .gatsby-resp-image-wrapper {
  will-change: transform;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);

  transition: all ease 250ms;
  &:hover {
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
      1px 6px 10px rgba(39, 44, 49, 0.12);
    transition: all ease 250ms;
    transform: scale(1.01);
  }
}

.blog-post-meta-date {
  margin-right: 0.5em;
  font-size: x-large;
}

@media (min-width: 1080px) {
  .blog-post {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.blog-post-time-to-read {
  font-weight: normal;
  font-size: 16px;
  margin-top: 1em;
  padding: 0px;
  margin-bottom: 1em;
}

@media (min-width: 1080px) {
  .blog-post-time-to-read {
    margin-bottom: 2em;
  }
}

.blog-post-image {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);

}

.social-links {
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 320px;
  flex-basis: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  gap: 16px;
  .social-link {
    line-height: 0px;
    .social-link-icon {
      color: white;
      fill: white;
      transition: all ease 250ms;
      height: 32px;
      width: 32px;
    }
    svg:hover {
      filter: drop-shadow(0px 0px 8px #d8ebf2);
      transition: all ease 250ms;
      transform: scale(1.05);
    }
  }
}

@media (min-width: 1080px) {
  .social-links {
    .social-link {
      .social-link-icon {
        height: 38px;
        width: 38px;
      }
    }
  }
}

.post-navigator {
  display: flex;
  width: 100%;
  .post-navigator-next {
    margin-left: auto;
    margin-right: 0px;
    transition: all ease 250ms;
    .post-navigator-link-div {
      justify-content: space-evenly;
    }
  }
  .post-navigator-previous {
    margin-right: auto;
    margin-left: 0px;
    .post-navigator-link-div {
      justify-content: space-evenly;
    }
  }
  .post-navigator-link-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    p {
      margin: 0px;
      padding: 0px;
      margin: 0.25em;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: larger;
    }
    svg {
      margin: 0px;
    }
  }
}

@media (min-width: 1080px) {
  .blog-post-tags-container {
    margin-top: 0px;
  }
}

.gatsby-resp-image-wrapper {
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
}

.tl-edges {
  overflow-x: visible;
}

.blog-post-content[data="author"] {
  .gatsby-resp-image-wrapper {
    max-width: 480px !important;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
  }
}

ul {
  margin-bottom: 0px;
}

.leancloud-visitors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .post-meta-item-text {
    font-style: normal;
    font-size: smaller;
    font-weight: 400;
    margin-left: auto;
    margin-right: 0.5em;
  }
  .leancloud-visitors-count {
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: smaller;
  }
}

.v .vwrap {
  background: white;
  border-radius: 6px !important;
  color: dimgray;
  border-color: dimgray;
  button {
    border-radius: 6px;
  }
  .vheader * {
    border-bottom: 1px solid lightgray !important;
    color: dimgray !important;
  }
  .vedit textarea {
    color: dimgray !important;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .vbtn {
    border-color: dimgray !important;
    color: dimgray !important;
  }
  * {
    color: dimgray !important;
    border-color: dimgray !important;

    fill: dimgray !important;
  }
}

.v .vempty {
  display: none !important;
}

.v .vcontent p {
  color: dimgray !important;
}

::selection {
  background-color: rgba(128, 198, 255, 0.6);
}

.vcontent.expand::before {
  background: linear-gradient(
    to bottom,
    rgba(rgb(216, 235, 242), 0),
    rgba(rgb(216, 235, 242), 0.9)
  ) !important;
}

.vcontent.expand::after {
  background: linear-gradient(
    to bottom,
    rgba(rgb(216, 235, 242), 0.9),
    rgba(rgb(216, 235, 242), 1)
  ) !important;
}

.v .vcards .vcard .vcontent,
.v .vcards .vcard .vcontent p {
  word-break: normal;
}

.v[data-class="v"] {
  font-size: 18px !important;
}

.v .vedit code,
.v .vpreview code {
  font-size: 14px !important;
  background: #d8ebf2 !important;
  color: dimgray !important;
}

.v .vcard code {
  font-size: 14px !important;
  background: #e8e8e8 !important;
  color: dimgray !important;
}

.v .vcard pre {
  background: #e8e8e8 !important;
}

.v .vpreview pre {
  background: #d8ebf2 !important;
}

.v .vwrap blockquote {
  border-left: 8px solid #e0e0e0 !important;
  border-color: #e0e0e0 !important;
  background: #d8ebf2 !important;
}

.v table * {
  border: 1px solid #e0e0e0 !important;
}

.v .vcard blockquote {
  background: #e8e8e8 !important;
  border-left: 8px solid #d0d0d0 !important;
  border-color: #d0d0d0 !important;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    width: 100%;
  }
  h2 {
    margin: 0px;
    margin-bottom: 0.75em;
  }
}

div.projects-user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 32px;
  column-gap: 32px;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  transition: all ease 250ms;
  border-radius: 8px;
  flex: 1;
  margin-bottom: 32px;
  &:hover {
    transition: all ease 250ms;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
      1px 6px 10px rgba(39, 44, 49, 0.12);
    transform: scale(1.0175);
  }

  .projects-author-image {
    max-height: 320px;
    flex: 1;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
  }
  h3,
  p {
    margin: 0px;
    padding: 0px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    p {
      text-align: left;
    }
    ul {
      list-style: none;
    }
  }
}

div.projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  column-gap: 32px;
  div.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
      1px 6px 10px rgba(39, 44, 49, 0.06);
    transition: all ease 250ms;
    padding: 32px;
    border-radius: 8px;
    &:hover {
      transition: all ease 250ms;
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      transform: scale(1.025);
    }
    h4 {
      margin: 0px;
      padding: 0px;
    }
    p {
      margin: 0px;
      padding: 0px;
    }
    div {
      display: flex;
      column-gap: 8px;
    }
  }
  ul {
    list-style: none;
  }
}

@media (min-width: 768px) {
  div.projects-user-info {
    flex-wrap: nowrap;
  }
  div.projects {
    grid-template-columns: 1fr 1fr;
  }
}

.photos-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;

  a {
    margin: 0px;
    padding: 0px;
    .google-photo {
      box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
        1px 6px 10px rgba(39, 44, 49, 0.12);
      transition: all ease 250ms;
      border-radius: 8px;
      &:hover {
        transition: all ease 250ms;
        box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
          1px 6px 10px rgba(39, 44, 49, 0.24);
        transform: scale(1.05);
      }
    }
  }
}

@media (min-width: 512px) {
  .photos-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .photos-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos-instagram-logo {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
    1px 6px 10px rgba(39, 44, 49, 0.12);
  transition: all ease 250ms;
  padding: 32px;
  border-radius: 8px;
  &:hover {
    transition: all ease 250ms;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.48),
      1px 6px 10px rgba(39, 44, 49, 0.24);
    transform: scale(1.05);
  }
  img {
    width: 100%;
    height: 100%;
    margin: auto;
    flex: 1;
  }
}

.contact-email-card {
  background: white;
  box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.12),
    1px 6px 10px rgba(39, 44, 49, 0.06);
  transition: all ease 250ms;
  padding: 16px;
  border-radius: 8px;
  max-width: fit-content;
  cursor: pointer;
  &:hover {
    transition: all ease 250ms;
    box-shadow: 6px 12px 20px rgba(39, 44, 49, 0.24),
      1px 6px 10px rgba(39, 44, 49, 0.12);
    transform: scale(1.0375);
  }
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
    column-gap: 16px;
    svg {
      margin: 0px;
      padding: 0px;
    }
    p {
      margin: 0px;
      padding: 0px;
      cursor: text;
    }
  }
}
